nav > ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 5px;
  padding: 10px;
}
nav li a{
  text-decoration: none;
  color: black;
  font-size: 30px;
}
nav li:hover{
  background-color: blanchedalmond;
}